<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Trang chủ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   
  <body>
    <main>
        <section class="bg-white flex items-center justify-center  relative mt-10 ">
            <div class="absolute bottom-0 w-full h-1/3 bg-black"></div> 
                
            <div class="self-stretch px-16 py-10 bg-white rounded-lg shadow max-md:px-5 w-full md:max-w-[1200px] relative">
                <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                  <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                    <div
                      class="flex flex-col justify-center text-stone-950 max-md:mt-10 max-md:max-w-full"
                    >
                      <div
                        class="text-5xl font-bold leading-[72px] max-md:max-w-full max-md:text-4xl max-md:leading-[67px]"
                      >
                        How can we help you?
                      </div>
                      <div class="mt-2.5 text-base leading-6 max-md:max-w-full">
                        Fill customer's information
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                    <div
                      class="flex flex-col grow justify-center text-sm leading-6 rounded-md max-md:mt-10 max-md:max-w-full"
                    >
                      <input
                        class="flex gap-1 px-4 py-2.5 whitespace-nowrap rounded bg-zinc-100 max-md:flex-wrap "
                        placeholder="Name"
                        >
                        <!-- <div class="text-neutral-800">Name</div>
                        <div class="text-orange-700 max-md:max-w-full">*</div> -->
                        
                      </input>
                      <input
                        class="flex gap-1 px-4 py-2.5 mt-4 rounded bg-zinc-100 max-md:flex-wrap"
                        placeholder="E-mail address"
                      >
                        <!-- <div class="text-neutral-800">E-mail address</div>
                        <div class="text-orange-700">*</div> -->
                      </input>
                      <input
                        class="flex gap-1 px-4 py-2.5 mt-4 rounded bg-zinc-100 max-md:flex-wrap"
                        placeholder="Company name"
                      >
                        <!-- <div class="text-neutral-800">Company name</div>
                        <div class="text-orange-700">*</div> -->
                      </input>
                      <input
                        class="justify-center items-start px-4 py-2.5 mt-4 rounded bg-zinc-100 text-neutral-800 max-md:pr-5 max-md:max-w-full" placeholder="Your message">
                        
                      </input>
                      <button
                        class="justify-center self-end px-10 py-3 mt-6 text-base font-semibold leading-6 text-white whitespace-nowrap rounded border border-solid shadow bg-stone-950 border-stone-950 max-md:px-5"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <!-- <div class="flex flex-col justify-center leading-6 text-stone-950 relative ">
            <img
              src="/assets/img/Rectangle9.png"
              class="w-full aspect-[3.03] max-md:max-w-full h-2/3"
            />
            <div class=" bottom-0 w-full h-1/3 bg-white"></div> 
            <div
              class="flex z-10 md:max-w-[1200px] w-full px-[116px] py-12  w-full bg-white max-md:px-5 max-md:max-w-full absolute"
            >
            <div class="flex flex-col  max-md:max-w-full  ">
              <div class="flex gap-2 self-start text-sm font-medium text-neutral-400">
                <div>Solutions</div>
                <div>/</div>
                <div class="text-stone-950">SmartSoft Solutions</div>
              </div>
              <div
                class="mt-6 text-6xl font-bold leading-[84px] max-md:max-w-full max-md:text-4xl"
              >
                SmartSoft Solutions
              </div>
              <div class="mt-6 text-base max-md:max-w-full">
                Our mission is to make real impacts, deliver business value, helping
                global customers with fast-growing and sustainable development.
              </div>
            </div>
        </div>
        </div> -->
            
    </main>
    <script src="/assets/js/tailwind_custom.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </body>
</html>
